@model cp5MVC.Models.PacienteModel

@{
    ViewData["Title"] = "Detalhes do Paciente";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.IdPaciente</dd>

        <dt class="col-sm-2">Nome Completo</dt>
        <dd class="col-sm-10">@Model.NomeCompleto</dd>

        <dt class="col-sm-2">Data de Nascimento</dt>
        <dd class="col-sm-10">@Model.DataNascimento</dd>

        <dt class="col-sm-2">CPF</dt>
        <dd class="col-sm-10">@Model.CPF</dd>

        <dt class="col-sm-2">Telefone</dt>
        <dd class="col-sm-10">@Model.Telefone</dd>

        <dt class="col-sm-2">Endereço</dt>
        <dd class="col-sm-10">@Model.Endereco</dd>
    </dl>
</div>
<p>
    <a class="btn btn-secondary" href="@Url.Action("Index", "Paciente")">Voltar à lista</a>
</p>
